<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassServlet</servlet-name>
        <servlet-class>AddClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClassServlet</servlet-name>
        <servlet-class>DeleteClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClassServlet</servlet-name>
        <servlet-class>EditClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectServlet</servlet-name>
        <servlet-class>AddSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectServlet</servlet-name>
        <servlet-class>EditSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <servlet-class>DeleteSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeacherServlet</servlet-name>
        <servlet-class>AddTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTeacherServlet</servlet-name>
        <servlet-class>EditTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubTeacherServlet</servlet-name>
        <servlet-class>AddSubTecherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubTeacherServlet</servlet-name>
        <servlet-class>DeleteSubTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubTeacherServlet</servlet-name>
        <servlet-class>EditSubTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassSubjectServlet</servlet-name>
        <servlet-class>AddClassSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClassSubjectServlet</servlet-name>
        <servlet-class>DeleteClassSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClassSubjectServlet</servlet-name>
        <servlet-class>EditClassSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>EditStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassServlet</servlet-name>
        <url-pattern>/addclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClassServlet</servlet-name>
        <url-pattern>/deleteclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClassServlet</servlet-name>
        <url-pattern>/editclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectServlet</servlet-name>
        <url-pattern>/addsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectServlet</servlet-name>
        <url-pattern>/editsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <url-pattern>/deletesubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeacherServlet</servlet-name>
        <url-pattern>/addteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTeacherServlet</servlet-name>
        <url-pattern>/editteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubTeacherServlet</servlet-name>
        <url-pattern>/addsubteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubTeacherServlet</servlet-name>
        <url-pattern>/deletesubteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubTeacherServlet</servlet-name>
        <url-pattern>/editsubteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassSubjectServlet</servlet-name>
        <url-pattern>/addclasssubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClassSubjectServlet</servlet-name>
        <url-pattern>/deleteclasssubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClassSubjectServlet</servlet-name>
        <url-pattern>/editclasssubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/editstudent</url-pattern>
    </servlet-mapping>
</web-app>